.MainContainer {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 900px) {
  .MainContainer {
    flex-direction: column;
  }

  .MainLeftPart {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 45vw;
    height: 100vh;
    z-index: 1000;
    border-right: 2px solid #2ecc71;
  }

  .LeftPartFooter {
    width: inherit;
  }
  .LeftPart_logo img {
    width: 20vw;
    height: 20vw;
  }
  .icon {
    font-size: 4vw;
  }
  .BirdImage {
    bottom: 2.9vh;
  }
  .BirdImage img {
    width: 15vw;
  }
  .MainRightPart {
    padding-left: 0%;
  }
  .quoteText {
    font-size: 4vw;
  }
  .quote {
    font-size: 7vw;
  }
  .singleSkill progress {
    width: 90vw;
  }
  .LeftPartFooter {
    padding: 14px 0px;
  }
}

@media only screen and (max-width: 466px) {
  .title {
    width: 90%;
  }
  .AboutData h3 {
    font-size: 5vw;
  }
  .AboutSection h2 {
    width: 90%;
  }
  .icon {
    font-size: 3vw;
    margin: 0px 2px;
  }
  .BirdImage {
    bottom: 1vh;
  }
}

@media only screen and (max-width: 295px) {
  .quoteText {
    margin: 0px;
  }
}
